<!DOCTYPE html>
    <body>
        <h1 id="label1">
            Patient DBMS App
        </h1>
        <br/>
        <form action="/login" method="POST">
           <label>Username </label> <input type="text" name="username" id="username"/><br/><br/>
            <label>Password </label> <input type="password" name="password" id="password"/><br/>
        <br/>
        <button type="submit">
            login
        </button>
            
        </form>
        <br/>
        {% block invalid %}
        <div id = "invalid_warning">

        </div>
        {% endblock %}
        
    </body>
    
</html>