<!DOCTYPE html>
<html>
    <body>
        <header>
            <h2 style="text-align: center; padding: 3px; background-color: darksalmon; color: white;">
                HOSPITAL DATABASE MANAGEMENT SYSTEM
            </h2>
        </header>
    <div style="display: flex ;flex-direction: row; align-items: center;" id = "titlebar">
        <div style="margin: 10px;">
            <h1>Pharmacist        </h1>
        </div>

        
        <div style="float: right;" >

        <form action="/" method="get">
        

       

        </div>
    </div>
    <br/>
    
    <button style="background-color: #4CAF50; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;" id = "show_get_med">
            Retrieve medicine details
    </button>
    <br/>
    <br/>
    <div style="display: none;" id = "get_medicine_div">
        <form action="/get_medicine" method="POST">
        <label id = "med_name_label">
            Enter the name of the medicine:  
        </label>
        <input  type="text" name="med_name" id="med_name"/>

        <button type="submit" id = get_medicine>
            Get medicine details
        </button>
        </form>



        <br/>
        {% block med_details %}
        <div id = "med_details">

        </div>
        {% endblock %}

        <br/>
    </div>

    <br/>

    <button style="background-color: #4CAF50; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;" id = "show_add_med">
        Add or update medicine details
    </button>

    <br/>
    <br/>
    <div style = "display: none;" id = "add_medicine_div">
        <br/>
        <form action="/add_medicine" method="POST">
            <div>
            <label class="generic_med_label">Name of medicine:  </label>
            <br/>
            <input type="text" name="new_med_name" id="new_med_name"/>
            
            <br/>
            <label class="generic_med_label">Cost of medicine:   </label>
            <br/>
            <input type="number" name="new_med_cost" id="new_med_cost"/>
            
            <br/>
            <label class="generic_med_label">Info about medicine: </label>
            <br/>
            <input type="text" width="150" height="200" name="new_med_info" id="new_med_info"/>
            
            <button type="submit">
                Add/update medicine
            </button>

            </div>
        </form>
        <br/>
        
        {% block insert_results %}
        <div id="med_insert_res_placeholder">
        
        </div>
        {% endblock %}
        
    </div>
    </body>
    <script>
        var get_med_div = document.getElementById("get_medicine_div")
        var show_get_med_but = document.getElementById("show_get_med")

        var add_med_div = document.getElementById("add_medicine_div")
        var show_add_med_but = document.getElementById("show_add_med")

        function show(name){
            if(name=="get"){
                get_med_div.style.display = "block"
            }
            else if(name=="add"){
                add_med_div.style.display = "block"
            }
            else{

            }
        }

        show_get_med_but.addEventListener('click',(event)=>{
            if(get_med_div.style.display=="none"){
                show("get")
            }
        })

        show_add_med_but.addEventListener('click',(event)=>{
            if(add_med_div.style.display=="none"){
                show("add")
            }
        })
    </script>
    <form action="/" method="get">
        <button style="background-color: #b12222; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;" id = "logout" type="submit">
            Logout
        </button>
    </form>
    <footer>
        <h3 style="text-align: center; padding: 3px; background-color: rgb(253, 253, 253); color: rgb(0, 0, 0);">
        Contact Us At: hospital@gmail.com
        <br/>
                         +911234567890               
        </h3>
    </footer>

</html>
