<!DOCTYPE html>
<html>
    <body>
        <header>
            <h2 style="text-align: center; padding: 3px; background-color: darksalmon; color: white;">
                HOSPITAL DATABASE MANAGEMENT SYSTEM
            </h2>
        </header>
        <div style="display: flex ;flex-direction: row; align-items: center;" id = "titlebar">
            <div style="margin: 10px;">
                <h1>Room Manager</h1> 
            </div>
            
            <div style="float: right;" >
                
            
    
            </div>
        </div>
        
        <br/>

    <button style="background-color: #4CAF50; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;" id = "show_get_room">
        Retrieve Room Details<br/>
    </button>
    <br/>
    <br/>
    
        
    <div style="display: none;" id = "get_room_div">
        <form action="/get_room" method="POST">
        <label id = "room_type_label">
            Enter Room Type:
    
        </label>
        <br/>
        <input  type="text" name="room_type" id="room_type"/>

        <button type="submit" id = get_room>
            Get Room details
        </button>
        </form>

        <br/>
        {% block room_details %}
        <div id = "room_details">

        </div>
        {% endblock %}

        <br/>
    </div>
    <br/>

    <button style="background-color: #4CAF50; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;" id = "show_add_room">
        Add or update room details
    </button>
    <br/>
    <br/>

    <div style="display: none;" id = "add_room_div">
        <form action="/add_room" method="POST">
            <div>
            <label class="room_label">Type of Room: </label> <br/>
            <input type="text" name="new_room_type" id="new_room_type"/>
            
            <br/>
            <label class="room_label">Cost of Room: </label> <br/>
            <input type="number" name="new_room_cost" id="new_room_cost"/>
            
            
 
            <button type="submit">
                Add Room
            </button>

            </div>
        </form>
        {% block insert_results %}
        <div id="room_insert_res_placeholder">

        </div>
        {% endblock %}

        <br/>

    </div>

    <br/>

    <button style="background-color: #4CAF50; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;"  id = "show_assign_nurse">
        Assign nurses to a room
    </button>
   
    <br/>

    <div style="display: none;" id = "assign_nurse_div">
        <form action="/assign_nurse" method="POST">
            <div>
                <label style="font-size: large; font-weight: bold;">Enter the details of the nurse and the room information:</label> <br/>
                <br/>
                
                <label style="font-size: large; font-weight: bold;">Nurse information: </label>
                <br/>
                <label>First Name: </label> <br/><input type="text" name="nurse_fname" id = "nurse_fname"/>  <br/>
                <label>Middle Name: </label> <br/><input type="text" name="nurse_mname" id = "nurse_mname"/> <br/>
                <label>Last Name: </label><br/> <input type="text" name="nurse_lname" id = "nurse_lname"/>   <br/>
                <br/>
                <label style="font-size: large; font-weight: bold;">Room information</label>
                <br/>
                <label>Room Type: </label> <br/> <input type="text" name="n_room_type" id = "n_room_type"/>   

                <button type="submit">
                    Assign Nurse
                </button>
            </div>
        </form>

        {% block assign_results %}
        <div id="nurse_room_assign_placeholder">

        </div>
        {% endblock %}
          
        
    </div>
    <br/>
    
    <form action="/" method="get">
        <button style="background-color: #b12222; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;" id = "logout" type="submit">
            Logout
        </button>
    </form>
    
    <footer>
        <h3 style="text-align: center; padding: 3px; background-color: rgb(253, 253, 253); color: rgb(0, 0, 0);">
        Contact Us At: hospital@gmail.com
        <br/>
                         +911234567890               
        </h3>
    </footer>
    
    </body>


    <script>
        var get_room_div = document.getElementById("get_room_div")
        var show_get_room_but = document.getElementById("show_get_room")

        var add_room_div = document.getElementById("add_room_div")
        var show_add_room_but = document.getElementById("show_add_room")

        var assign_nurse_div = document.getElementById("assign_nurse_div")
        var show_assign_nurse_but = document.getElementById("show_assign_nurse")

        function show(name){
            if(name=="get"){
                get_room_div.style.display = "block"
            }
            else if(name=="add"){
                add_room_div.style.display = "block"
            }
            else if(name=="assign"){
                assign_nurse_div.style.display = "block"
            }
            else{

            }
        }

        show_get_room_but.addEventListener('click',(event)=>{
            if(get_room_div.style.display=="none"){
                show("get")
            }
        })

        show_add_room_but.addEventListener('click',(event)=>{
            if(add_room_div.style.display=="none"){
                show("add")
            }
        })

        show_assign_nurse_but.addEventListener('click',(event)=>{
            if(assign_nurse_div.style.display=="none"){
                show("assign")
            }
        })
        
    </script>
    
</html>
