{% extends 'Room_Manager.html'%}

{% block room_details %}
        <div id = "room_details">
            {% if res.data|length >0 %}
            <table>
                <tr class = "room_row">
                    <td>ID</td>
                    <td>Type</td>
                    <td>Cost</td>
                </tr>
                {% for row in res.data %}
                <tr class = "room_row">
                    {% for col in row %}
                    <td class = "room_col">
                        {{col}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            {% else %}
            No records found
            {% endif %}
        </div>
        <script>
            document.getElementById("get_room_div").style.display= "block"
        </script>
{% endblock %}